<article id="<%= post.layout %>-<%= post.slug %>" class="post reveal" itemscope itemprop="blogPost">
	<section class="article typo">
		<div class="article-entry" itemprop="articleBody">
			<%- post.content %>
		</div>
	</section>
	<% if (theme.valine.enable === true && theme.valine.appId && theme.valine.appKey) { %>
	<div id="vcomments"></div>
	<script>
		new Valine({
			el: '#vcomments',
			appId: "<%= theme.valine.appId %>",
			appKey: "<%= theme.valine.appKey %>"
		})
	</script>
	<% } %>
</article>

<script>
	window.subData = {
		title: '<%= post.title %>',
		tools: true
	}
</script>